body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73 {
  position:absolute;
  left:6px;
  top:37px;
  width:705px;
  height:212px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u75 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u76 {
  position:absolute;
  left:35px;
  top:0px;
  width:68px;
  height:38px;
}
#u77 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:38px;
}
#u78 {
  position:absolute;
  left:103px;
  top:0px;
  width:247px;
  height:38px;
}
#u79 {
  position:absolute;
  left:2px;
  top:11px;
  width:243px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u80 {
  position:absolute;
  left:350px;
  top:0px;
  width:50px;
  height:38px;
}
#u81 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u82 {
  position:absolute;
  left:400px;
  top:0px;
  width:67px;
  height:38px;
}
#u83 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u84 {
  position:absolute;
  left:467px;
  top:0px;
  width:170px;
  height:38px;
}
#u85 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u86 {
  position:absolute;
  left:637px;
  top:0px;
  width:63px;
  height:38px;
}
#u87 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u88 {
  position:absolute;
  left:0px;
  top:38px;
  width:35px;
  height:33px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:33px;
}
#u90 {
  position:absolute;
  left:35px;
  top:38px;
  width:68px;
  height:33px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:33px;
}
#u92 {
  position:absolute;
  left:103px;
  top:38px;
  width:247px;
  height:33px;
  color:#666666;
  text-align:left;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u94 {
  position:absolute;
  left:350px;
  top:38px;
  width:50px;
  height:33px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
}
#u96 {
  position:absolute;
  left:400px;
  top:38px;
  width:67px;
  height:33px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u98 {
  position:absolute;
  left:467px;
  top:38px;
  width:170px;
  height:33px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:33px;
}
#u100 {
  position:absolute;
  left:637px;
  top:38px;
  width:63px;
  height:33px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:38px;
}
#u102 {
  position:absolute;
  left:0px;
  top:71px;
  width:35px;
  height:38px;
}
#u103 {
  position:absolute;
  left:2px;
  top:11px;
  width:31px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:38px;
}
#u104 {
  position:absolute;
  left:35px;
  top:71px;
  width:68px;
  height:38px;
}
#u105 {
  position:absolute;
  left:2px;
  top:11px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:38px;
}
#u106 {
  position:absolute;
  left:103px;
  top:71px;
  width:247px;
  height:38px;
  text-align:left;
}
#u107 {
  position:absolute;
  left:2px;
  top:11px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u108 {
  position:absolute;
  left:350px;
  top:71px;
  width:50px;
  height:38px;
}
#u109 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
}
#u110 {
  position:absolute;
  left:400px;
  top:71px;
  width:67px;
  height:38px;
}
#u111 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:38px;
}
#u112 {
  position:absolute;
  left:467px;
  top:71px;
  width:170px;
  height:38px;
}
#u113 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u114 {
  position:absolute;
  left:637px;
  top:71px;
  width:63px;
  height:38px;
}
#u115 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:49px;
}
#u116 {
  position:absolute;
  left:0px;
  top:109px;
  width:35px;
  height:49px;
}
#u117 {
  position:absolute;
  left:2px;
  top:16px;
  width:31px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:49px;
}
#u118 {
  position:absolute;
  left:35px;
  top:109px;
  width:68px;
  height:49px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:49px;
}
#u120 {
  position:absolute;
  left:103px;
  top:109px;
  width:247px;
  height:49px;
  text-align:left;
}
#u121 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u122 {
  position:absolute;
  left:350px;
  top:109px;
  width:50px;
  height:49px;
}
#u123 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:49px;
}
#u124 {
  position:absolute;
  left:400px;
  top:109px;
  width:67px;
  height:49px;
}
#u125 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u126 {
  position:absolute;
  left:467px;
  top:109px;
  width:170px;
  height:49px;
}
#u127 {
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u128 {
  position:absolute;
  left:637px;
  top:109px;
  width:63px;
  height:49px;
}
#u129 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:49px;
}
#u130 {
  position:absolute;
  left:0px;
  top:158px;
  width:35px;
  height:49px;
}
#u131 {
  position:absolute;
  left:2px;
  top:16px;
  width:31px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:49px;
}
#u132 {
  position:absolute;
  left:35px;
  top:158px;
  width:68px;
  height:49px;
}
#u133 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:49px;
}
#u134 {
  position:absolute;
  left:103px;
  top:158px;
  width:247px;
  height:49px;
  text-align:left;
}
#u135 {
  position:absolute;
  left:2px;
  top:16px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u136 {
  position:absolute;
  left:350px;
  top:158px;
  width:50px;
  height:49px;
}
#u137 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:49px;
}
#u138 {
  position:absolute;
  left:400px;
  top:158px;
  width:67px;
  height:49px;
}
#u139 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:49px;
}
#u140 {
  position:absolute;
  left:467px;
  top:158px;
  width:170px;
  height:49px;
}
#u141 {
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u142 {
  position:absolute;
  left:637px;
  top:158px;
  width:63px;
  height:49px;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u144 {
  position:absolute;
  left:6px;
  top:7px;
  width:165px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
